<script>
	/**
	 * @typedef {Object} Props
	 * @property {import('svelte').Snippet} [children]
	 */

	/** @type {Props} */
	let { children } = $props();
</script>

<!-- .category-title { -->
<!--   margin-left: 1em; -->
<!--   margin-right: 1em; -->
<!--   margin-bottom: 0.5em; -->
<!--   padding: 0.5rem; -->
<!--   background-color: #313244; -->
<!--   border-radius: 10px; -->
<!--   color: #b4befe; -->
<!-- } -->
<h3 class="ml-4 mr-4 mb-1 p-2 bg-ctp-surface0 rounded-lg text-ctp-blue">{@render children?.()}</h3>
