<script lang="ts">
	import '../app.scss';
	interface Props {
		children?: import('svelte').Snippet;
	}

	let { children }: Props = $props();
</script>

<div class="xl:ml-[4vw] xl:mr-[4vw]">
	{@render children?.()}
</div>
