<script lang="ts">
	import Title from '$lib/components/Title.svelte';
	import Category from '$lib/components/category/Category.svelte';
	import CategoryTitle from '$lib/components/category/CategoryTitle.svelte';
	import Text from '$lib/components/Text.svelte';
</script>

<svelte:head>
	<title>tomkoid</title>
</svelte:head>

<Title>tomkoid</Title>
<hr />
<Category>
	<CategoryTitle>👋 Greetings!</CategoryTitle>

	<Text>Hi, I'm <u><b>Tomáš</b></u>.</Text>
	<Text>You managed to find my secret website on the internet.</Text>
	<Text>
		I'm <b>a software engineer</b> and <b> an advocate of FOSS software</b> and when I'm not programming
		I usually learn what I find interesting at the moment.</Text
	>
</Category>
<Category>
	<CategoryTitle>🔥 My projects and interests</CategoryTitle>
	<Text>
		I made a couple of projects, for example our alternative frontend to our school system Škola
		OnLine named
		<a href="https://codeberg.org/resol/resol" target="_blank">reŠOL</a>, my adblock program that
		injects an anti-ad hosts file into the system named
		<a href="https://codeberg.org/tomkoid/blokator" target="_blank">Blokator</a> and a firmware for
		the ESP32 that periodically checks if a hotspot is still available -
		<a href="https://codeberg.org/tomkoid/hotspot-checker-firmware" target="_blank"
			>hotspot-checker-firmware</a
		>.
	</Text>
	<Text>
		Currently I'm learning <a href="https://go.dev" target="_blank">Go</a> and
		<a href="https://www.rust-lang.org" target="_blank">Rust</a>. Also, I enjoy playing with
		<a href="https://wikiless.tiekoetter.com/wiki/Linux?lang=en" target="_blank">Linux</a>,
		especially with
		<a href="https://wikiless.tiekoetter.com/wiki/Tiling_window_manager?lang=en" target="_blank"
			>tiling window managers</a
		>, text editors and random cool tools.
	</Text>
	<Text>
		My favorite colorscheme is now <a href="https://github.com/catppuccin/catppuccin"
			>Catppuccin Mocha</a
		>.
	</Text>
</Category>
<Category>
	<CategoryTitle>🔗 Links</CategoryTitle>
	<div class="mt-[1em] ml-12">
		<!-- <li> -->
		<!-- 	<a -->
		<!-- 		href="http://tomkoidh5kvyoq5yauuz6wasrcnylqlan2zxfnowr6kimqgdjibqjtid.onion" -->
		<!-- 		target="_blank">Onion link</a -->
		<!-- 	> - This same website on Tor (without Cloudflare) -->
		<!-- </li> -->
		<li>
			<a href="https://codeberg.org/tomkoid" target="_blank">Codeberg</a> - Check out my projects
		</li>
		<li>
			<a href="https://github.com/tomkoid" target="_blank">GitHub</a> - Older projects
		</li>
		<li><a href="https://gitlab.com/tomkoid" target="_blank">GitLab</a> - Older projects</li>
		<li>
			<a href="https://matrix.to/@tomkoid:matrix.org#/@tomkoid:matrix.org" target="_blank">Matrix</a
			> - Message me on Matrix
		</li>
		<li>
			<a rel="me" href="https://fosstodon.org/@tomkoid" target="_blank">Mastodon</a>
		</li>
		<li>
			<a href="https://forum.xda-developers.com/m/tomkoid.12275485" target="_blank"
				>XDA Developers</a
			>
		</li>
	</div>
</Category>
<Category>
	<CategoryTitle>🪪 License</CategoryTitle>
	<Text>
		The source code of this website is FOSS licensed under the <a
			href="https://www.gnu.org/licenses/gpl-3.0.txt"
			target="_blank">GNU GPL-3.0</a
		>
		license. The content of this website is licensed under the
		<a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt" target="_blank"
			>CC BY-SA 4.0</a
		> license.
	</Text>
</Category>
