/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Google Sans Flex', 'JetBrains Mono', 'Noto Sans', sans-serif;
	/* background-image: url('/src/lib/assets/bg.svg'); */
	/* background-repeat: repeat; */
	/* background-size: cover; */
	/* resize: both; */
	/* animation: gradient 60s ease-in-out infinite; */
	/* background-position: center; */
}

.mono {
	font-family: 'JetBrains Mono', monospace;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html,
body {
	min-height: 100%;
	background-color: #11111b;
	/* height: 100vh; */
}

/**/
/* h1 { */
/* 	// drop shadow */
/* 	text-shadow: */
/* 		0 0 0.1em blue, */
/* 		0 0 0.2em white, */
/* 		0 0 0.2em black; */
/* } */
