@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face { */
/*   font-family: "monospacix"; */
/*   src: url("../fonts/font.ttf") format('truetype'); */
/* } */

* {
  font-family: "Noto Sans", sans-serif;
  color: #cdd6f4;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-weight: 500; */
}

body {
  min-height: 100%;
  background-color: #1e1e2e;
}

.title {
  text-align: center;
  color: #cba6f7;
  padding: 1rem;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #74c7ec;
}

a:visited {
  color: #89b4fa;
}

a:hover {
  text-decoration: underline;
}

li::marker {
  color: #6c7086;
}

hr {
  border: 1px solid #313244;
  border-radius: 1px;
  margin: 1em;
}
