<script>
	/**
	 * @typedef {Object} Props
	 * @property {import('svelte').Snippet} [children]
	 */

	/** @type {Props} */
	let { children } = $props();
</script>

<h1 class="font-bold text-ctp-blue text-center mt-5 text-3xl">{@render children?.()}</h1>
